html {
  font-size: 1rem;
}
/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=13L0u0k7UUa3cZA5wXlaiQ5cFL3 */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */
//$color-primary-0: #D6E0F5;	// Main Primary color */
//$color-primary-1: #F8FAFE;
//$color-primary-2: #E9EFFB;
//$color-primary-3: #C0CFEC;
//$color-primary-4: #A9BBE0;

$color-primary-0: #CCDCFA;	// Main Primary color */
$color-primary-1: #FCFDFF;
$color-primary-2: #E4EDFE;
$color-primary-3: #B4CAF5;
$color-primary-4: #9DB8ED;
$color-primary-5: darken($color-primary-4, 15%);

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-color: $color-primary-1;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Kosugi Maru', sans-serif;
    color: $color-primary-5;
  }

  .lead.text-muted {
    color: $color-primary-4 !important;
  }
  nav.navbar {
    background-color: $color-primary-1;
    .nav-item {
      font-size: 1.2rem;

      .nav-link {
        color: $color-primary-5 !important;
        &:hover {
          color: $color-primary-4 !important;
        }
      }

      &.active {
        .nav-link {
          border-bottom: 3px solid;
          padding-bottom: 0;
          font-weight: bold;
        }
      }
    }
    .navbar-brand {
      font-size: 1.5rem;
    }
    .nav-item,
    .navbar-brand {
      color: $color-primary-5;
      font-family: 'Kosugi', sans-serif;

      &:hover {
        color: $color-primary-5;
      }
    }
  }

  .img-hero {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  z-index: 10;
  &.lower-caption {
    bottom: 3rem;
  }
  &.floor-caption {
    bottom: 0rem;
  }
  &.upper-caption {
    top: 3rem;
  }
  &.mid-caption {
    top: 12rem;
  }
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  margin-top: auto;
  margin-bottom: auto;
}

.home-vid {
  width: 100%;
}


@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 30px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.banner-logo {
  margin-top: -3.5rem;
  margin-bottom: 3rem;
  width: 60%;
}