body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  //background-color: #c3d9ff;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  z-index: 10;
  &.lower-caption {
    bottom: 3rem;
  }
  &.floor-caption {
    bottom: 0rem;
  }
  &.upper-caption {
    top: 3rem;
  }
  &.mid-caption {
    top: 12rem;
  }
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  margin-top: auto;
  margin-bottom: auto;
}

.home-vid {
  width: 100%;
}


@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 30px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.banner-logo {
  margin-top: -3.5rem;
  margin-bottom: 3rem;
  width: 60%;
}